<div class="contact-list">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Contact List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list >
        <div *ngFor="let contact of contacts" class="contact-item">
          <h3 matLine class="contact-title">{{ contact.name }}</h3>
          <div class="contact-info-container">
            <p class="contact-info-decription">Email: </p>
            <p matLine class="contact-info">{{ contact.email }}</p>
          </div>
          <div class="contact-info-container">
            <p class="contact-info-decription">Phone number: </p>
            <p matLine class="contact-info">{{ contact.phone }}</p>
          </div>
          <div class="contact-info-container">
            <p class="contact-info-decription">Birthdate: </p>
            <p matLine class="contact-info">{{ contact.birthDate }}</p>
          </div>
          
          <div class="btn-parent">
            <div class="btn-container">
              <button mat-mini-fab (click)="deleteContact(contact.id)"><mat-icon>delete</mat-icon></button>
            </div>
    
            <div class="btn-container">
              <button mat-button [routerLink]="['/contacts', contact.id]"><mat-icon>edit</mat-icon></button>
                
              
            </div>
            
          </div>
  
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/add-contact">Add Contact</button>
    </mat-card-actions>
  </mat-card>
</div>
